/* global resets */
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 24px; }

.container {
  margin: 20px auto;
  font: 12px/1.2 "Verdana", sans-serif;
  width: 1000px; }

.cf::before, .cf::after {
  content: "";
  display: table; }
.cf::after {
  clear: both; }

.right {
  float: right; }

.left {
  float: left; }

.slideshow {
  border: 3px solid #000;
  box-sizing: content-box;
  height: 0;
  margin: 20px 0 0;
  overflow-x: hidden;
  position: relative;
  white-space: nowrap;
  width: 0; }
  .slideshow .disabled {
    opacity: 0.1; }
  .slideshow ul {
    margin: 0;
    padding: 0;
    position: relative; }
  .slideshow li {
    float: left;
    left: 0;
    margin: 0;
    padding: 0; }
  .slideshow img {
    display: block; }
  .slideshow .slidenav {
    background-color: rgba(0, 0, 0, 0.7);
    border: 0;
    cursor: pointer;
    display: flex;
    height: 300px;
    outline: 0;
    position: absolute;
    width: 50px; }
    .slideshow .slidenav.nav-left {
      left: 0; }
    .slideshow .slidenav.nav-right {
      right: 0; }
    .slideshow .slidenav .arrow {
      position: relative;
      background: #fff; }
    .slideshow .slidenav .arrow:after {
      border: solid transparent;
      border-color: rgba(255, 255, 255, 0);
      border-width: 20px;
      content: " ";
      height: 0;
      margin-top: -20px;
      position: absolute;
      pointer-events: none;
      top: 50%;
      width: 0; }
    .slideshow .slidenav .arrow-right {
      margin-left: 10px; }
      .slideshow .slidenav .arrow-right:after {
        border-left-color: #fff;
        left: 100%; }
    .slideshow .slidenav .arrow-left {
      margin-left: 26px; }
      .slideshow .slidenav .arrow-left:after {
        border-right-color: #fff;
        right: 100%; }

.slideshow-wrap {
  background-color: #000;
  border-top: 0;
  box-sizing: content-box;
  color: #fff;
  display: flex;
  font-size: 13px;
  padding: 10px 50px;
  width: 706px; }
  .slideshow-wrap > div {
    flex: 1; }
  .slideshow-wrap .dots-wrap {
    padding-top: 2px;
    text-align: center; }
    .slideshow-wrap .dots-wrap .dot {
      background-color: #fff;
      border-radius: 50%;
      display: inline-block;
      margin: 0 2px;
      height: 10px;
      width: 10px; }
      .slideshow-wrap .dots-wrap .dot.selected {
        background-color: #f00; }
  .slideshow-wrap .slide-count-wrap {
    text-align: right; }

/*# sourceMappingURL=main.css.map */
