.slideshow {
	border: 3px solid gold;
	box-sizing: content-box;
	height: 300px;
	margin: 20px 0;
	overflow-x: hidden;
	position: relative;
	white-space: nowrap;
	width: 800px;

	.disabled {
		opacity: 0.2;
	}

	ul {
		margin: 0;
		padding: 0;
		position: relative;
	}

	li {
		float: left;
		left: 0;
		margin: 0;
		padding: 0;
	}

	img {
		display: block;
	}

	.slidenav {
		background-color: rgba(0, 0, 0, 0.7);
		border: 0;
		cursor: pointer;
		display: flex;
		height: 300px;
		outline: 0;
		position: absolute;
		width: 50px;

		&.nav-left {
			left: 0;
		}

		&.nav-right {
			right: 0;
		}

		.arrow {
			position: relative;
			background: #fff;
		}

		.arrow:after {
			border: solid transparent;
			border-color: rgba(255, 255, 255, 0);
			border-width: 20px;
			content: " ";
			height: 0;
			margin-top: -20px;
			position: absolute;
			pointer-events: none;
			top: 50%;
			width: 0;
		}

		.arrow-right {
			margin-left: 10px;

			&:after {
				border-left-color: #fff;	
				left: 100%;			
			}
		}

		.arrow-left {
			margin-left: 26px;
			
			&:after {
				border-right-color: #fff;
				right: 100%;
			}
		}
	}
}

