.slideshow {
	border: 3px solid gold;
	box-sizing: content-box;
	height: 300px;
	margin: 20px 0;
	overflow-x: hidden;
	position: relative;
	white-space: nowrap;
	width: 800px;

	ul {
		margin: 0;
		padding: 0;
		position: relative;
	}

	li {
		float: left;
		left: 0;
		margin: 0;
		padding: 0;
	}

	img {
		display: block;
	}

	.slidenav {
		background-color: rgba(0, 0, 0, 0.6);
		border: 0;
		cursor: pointer;
		height: 300px;
		outline: 0;
		position: absolute;
		width: 50px;

		&.nav-left {
			left: 0;
		}

		&.nav-right {
			right: 0;
		}
	}
}

