.cf {
	&::before,
	&::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}

.right {
	float: right;
}

.left {
	float: left;
}

.slideshow {
	border: 3px solid #000;
	box-sizing: content-box;
	height: 0;
	margin: 20px 0 0;
	overflow-x: hidden;
	position: relative;
	white-space: nowrap;
	width: 0;

	.disabled {
		opacity: 0.1;
	}

	ul {
		margin: 0;
		padding: 0;
		position: relative;
	}

	li {
		float: left;
		left: 0;
		margin: 0;
		padding: 0;
	}

	img {
		display: block;
	}

	.slidenav {
		background-color: rgba(0, 0, 0, 0.7);
		border: 0;
		cursor: pointer;
		display: flex;
		height: 300px;
		outline: 0;
		position: absolute;
		width: 50px;

		&.nav-left {
			left: 0;
		}

		&.nav-right {
			right: 0;
		}

		.arrow {
			position: relative;
			background: #fff;
		}

		.arrow:after {
			border: solid transparent;
			border-color: rgba(255, 255, 255, 0);
			border-width: 20px;
			content: " ";
			height: 0;
			margin-top: -20px;
			position: absolute;
			pointer-events: none;
			top: 50%;
			width: 0;
		}

		.arrow-right {
			margin-left: 10px;

			&:after {
				border-left-color: #fff;	
				left: 100%;			
			}
		}

		.arrow-left {
			margin-left: 26px;
			
			&:after {
				border-right-color: #fff;
				right: 100%;
			}
		}
	}
}

.slideshow-wrap {
	background-color: #000;
	border-top: 0;
	box-sizing: content-box;
	color: #fff;
	display: flex;
	font-size: 13px;
	padding: 10px 50px;
	width: 706px;

	> div {
		flex: 1;
	}

	.slideshow-title {

	}

	.dots-wrap {
		padding-top: 2px;
		text-align: center;

		.dot {
			background-color: #fff;
			border-radius: 50%;
			display: inline-block;
			margin: 0 2px;
			height: 10px;
			width: 10px;

			&.selected {
				background-color: #f00;
			}
		}
	}

	.slide-count-wrap {
		text-align: right;
	}


}

